input {
  stdin { }
}

filter {
       json {
      source => "message"
}
mutate {
      remove_field => ["space", "@timestamp", "path", "@version", "message","host"]
}

  if [auctionSale] == "sale" 
	    {
        mutate {
        remove_field => [ "[role][6]" ]
               }
        } 


  if [transactionType] == "Bank Initiated"
            {
        mutate {
        remove_field => [ "[role][1][party][2]", "[role][2][party][2]" ]
               }
        }
}

output {
# file {
#   path => "./data/input.json"
#   codec => json
# }

 stdout { codec => rubydebug }

    elasticsearch {
    action => "index"
    hosts => ["${HOST:localhost}:9200"]
    document_type => "sales"
    document_id =>    "%{saleDocumentNo}"
    index => "real-estate-sales"
    sniffing => true
    sniffing_delay => 999
#    template      => "./asx-stock-prices.json"
#    template_name => "asx-stock-prices-2-4-2017"
#    template_overwrite => true
    }

}

